:root {
  /* Colors */
  --color-key-primary: hsl(221, 83%, 53%);
  --color-key-secondary: hsl(222, 47%, 11%);
  --color-key-tertiary: hsl(175, 84%, 32%);
  --color-key-error: hsl(0, 72%, 51%);
  --color-key-success: hsl(142, 76%, 36%);
  --color-key-warning: hsl(24, 90%, 48%);
  --color-key-neutral: hsl(215, 16%, 47%);
  --color-key-neutralVariant: hsl(214, 32%, 91%);
  --color-palette-primary-0: hsl(0, 0%, 0%);
  --color-palette-primary-10: hsl(222, 100%, 15%);
  --color-palette-primary-20: hsl(219, 100%, 23%);
  --color-palette-primary-30: hsl(218, 100%, 33%);
  --color-palette-primary-40: hsl(217, 100%, 43%);
  --color-palette-primary-50: hsl(222, 92%, 58%);
  --color-palette-primary-60: hsl(224, 100%, 69%);
  --color-palette-primary-70: hsl(225, 100%, 77%);
  --color-palette-primary-80: hsl(226, 100%, 85%);
  --color-palette-primary-87: hsl(228, 100%, 91%);
  --color-palette-primary-90: hsl(230, 100%, 93%);
  --color-palette-primary-92: hsl(231, 100%, 95%);
  --color-palette-primary-94: hsl(234, 100%, 96%);
  --color-palette-primary-95: hsl(233, 100%, 97%);
  --color-palette-primary-96: hsl(235, 100%, 97%);
  --color-palette-primary-98: hsl(257, 100%, 99%);
  --color-palette-primary-99: hsl(285, 100%, 99%);
  --color-palette-primary-100: hsl(0, 0%, 100%);
  --color-palette-secondary-0: hsl(0, 0%, 0%);
  --color-palette-secondary-10: hsl(222, 41%, 13%);
  --color-palette-secondary-20: hsl(222, 25%, 21%);
  --color-palette-secondary-30: hsl(225, 18%, 30%);
  --color-palette-secondary-40: hsl(223, 14%, 39%);
  --color-palette-secondary-50: hsl(224, 12%, 49%);
  --color-palette-secondary-60: hsl(226, 15%, 60%);
  --color-palette-secondary-70: hsl(225, 21%, 70%);
  --color-palette-secondary-80: hsl(225, 34%, 81%);
  --color-palette-secondary-87: hsl(227, 58%, 89%);
  --color-palette-secondary-90: hsl(227, 80%, 92%);
  --color-palette-secondary-92: hsl(226, 100%, 94%);
  --color-palette-secondary-94: hsl(229, 100%, 96%);
  --color-palette-secondary-95: hsl(230, 100%, 96%);
  --color-palette-secondary-96: hsl(235, 100%, 97%);
  --color-palette-secondary-98: hsl(257, 100%, 99%);
  --color-palette-secondary-99: hsl(285, 100%, 99%);
  --color-palette-secondary-100: hsl(0, 0%, 100%);
  --color-palette-tertiary-0: hsl(0, 0%, 0%);
  --color-palette-tertiary-10: hsl(174, 100%, 6%);
  --color-palette-tertiary-20: hsl(176, 100%, 11%);
  --color-palette-tertiary-30: hsl(176, 100%, 16%);
  --color-palette-tertiary-40: hsl(175, 100%, 21%);
  --color-palette-tertiary-50: hsl(176, 100%, 26%);
  --color-palette-tertiary-60: hsl(175, 62%, 39%);
  --color-palette-tertiary-70: hsl(174, 46%, 52%);
  --color-palette-tertiary-80: hsl(173, 59%, 63%);
  --color-palette-tertiary-87: hsl(173, 74%, 71%);
  --color-palette-tertiary-90: hsl(173, 85%, 75%);
  --color-palette-tertiary-92: hsl(173, 93%, 77%);
  --color-palette-tertiary-94: hsl(173, 100%, 81%);
  --color-palette-tertiary-95: hsl(171, 100%, 85%);
  --color-palette-tertiary-96: hsl(171, 100%, 89%);
  --color-palette-tertiary-98: hsl(169, 100%, 95%);
  --color-palette-tertiary-99: hsl(166, 100%, 97%);
  --color-palette-tertiary-100: hsl(0, 0%, 100%);
  --color-palette-neutral-0: hsl(0, 0%, 0%);
  --color-palette-neutral-10: hsl(212, 62%, 11%);
  --color-palette-neutral-20: hsl(214, 34%, 20%);
  --color-palette-neutral-30: hsl(213, 24%, 29%);
  --color-palette-neutral-40: hsl(214, 19%, 39%);
  --color-palette-neutral-50: hsl(215, 15%, 48%);
  --color-palette-neutral-60: hsl(215, 18%, 59%);
  --color-palette-neutral-70: hsl(216, 25%, 69%);
  --color-palette-neutral-80: hsl(215, 40%, 80%);
  --color-palette-neutral-87: hsl(217, 65%, 88%);
  --color-palette-neutral-90: hsl(216, 91%, 91%);
  --color-palette-neutral-92: hsl(217, 100%, 93%);
  --color-palette-neutral-94: hsl(219, 100%, 95%);
  --color-palette-neutral-95: hsl(220, 100%, 96%);
  --color-palette-neutral-96: hsl(221, 100%, 97%);
  --color-palette-neutral-98: hsl(231, 100%, 99%);
  --color-palette-neutral-99: hsl(260, 100%, 99%);
  --color-palette-neutral-100: hsl(0, 0%, 100%);
  --color-palette-neutralVariant-0: hsl(0, 0%, 0%);
  --color-palette-neutralVariant-10: hsl(210, 21%, 11%);
  --color-palette-neutralVariant-20: hsl(210, 12%, 19%);
  --color-palette-neutralVariant-30: hsl(212, 9%, 28%);
  --color-palette-neutralVariant-40: hsl(212, 7%, 37%);
  --color-palette-neutralVariant-50: hsl(210, 6%, 47%);
  --color-palette-neutralVariant-60: hsl(214, 6%, 57%);
  --color-palette-neutralVariant-70: hsl(212, 8%, 68%);
  --color-palette-neutralVariant-80: hsl(214, 13%, 78%);
  --color-palette-neutralVariant-87: hsl(210, 19%, 86%);
  --color-palette-neutralVariant-90: hsl(214, 26%, 89%);
  --color-palette-neutralVariant-92: hsl(214, 33%, 92%);
  --color-palette-neutralVariant-94: hsl(214, 44%, 94%);
  --color-palette-neutralVariant-95: hsl(214, 54%, 95%);
  --color-palette-neutralVariant-96: hsl(214, 70%, 96%);
  --color-palette-neutralVariant-98: hsl(220, 100%, 98%);
  --color-palette-neutralVariant-99: hsl(240, 100%, 99%);
  --color-palette-neutralVariant-100: hsl(0, 0%, 100%);
  --color-palette-error-0: hsl(0, 0%, 0%);
  --color-palette-error-10: hsl(0, 100%, 6%);
  --color-palette-error-20: hsl(0, 100%, 11%);
  --color-palette-error-30: hsl(0, 100%, 16%);
  --color-palette-error-40: hsl(0, 100%, 21%);
  --color-palette-error-50: hsl(0, 100%, 26%);
  --color-palette-error-60: hsl(1, 72%, 39%);
  --color-palette-error-70: hsl(1, 57%, 52%);
  --color-palette-error-80: hsl(0, 68%, 63%);
  --color-palette-error-87: hsl(0, 79%, 71%);
  --color-palette-error-90: hsl(0, 89%, 75%);
  --color-palette-error-92: hsl(0, 95%, 77%);
  --color-palette-error-94: hsl(0, 100%, 81%);
  --color-palette-error-95: hsl(0, 100%, 85%);
  --color-palette-error-96: hsl(0, 100%, 89%);
  --color-palette-error-98: hsl(0, 100%, 95%);
  --color-palette-error-99: hsl(0, 100%, 97%);
  --color-palette-error-100: hsl(0, 0%, 100%);
  --color-palette-success-0: hsl(0, 0%, 0%);
  --color-palette-success-10: hsl(142, 100%, 6%);
  --color-palette-success-20: hsl(142, 100%, 11%);
  --color-palette-success-30: hsl(142, 100%, 16%);
  --color-palette-success-40: hsl(142, 100%, 21%);
  --color-palette-success-50: hsl(142, 76%, 26%);
  --color-palette-success-60: hsl(142, 72%, 34%);
  --color-palette-success-70: hsl(142, 58%, 47%);
  --color-palette-success-80: hsl(142, 55%, 60%);
  --color-palette-success-87: hsl(142, 65%, 69%);
  --color-palette-success-90: hsl(142, 72%, 74%);
  --color-palette-success-92: hsl(142, 78%, 78%);
  --color-palette-success-94: hsl(142, 85%, 83%);
  --color-palette-success-95: hsl(142, 90%, 87%);
  --color-palette-success-96: hsl(142, 95%, 91%);
  --color-palette-success-98: hsl(142, 100%, 96%);
  --color-palette-success-99: hsl(142, 100%, 98%);
  --color-palette-success-100: hsl(0, 0%, 100%);
  --color-palette-warning-0: hsl(0, 0%, 0%);
  --color-palette-warning-10: hsl(24, 100%, 6%);
  --color-palette-warning-20: hsl(24, 100%, 11%);
  --color-palette-warning-30: hsl(24, 100%, 16%);
  --color-palette-warning-40: hsl(24, 100%, 21%);
  --color-palette-warning-50: hsl(24, 100%, 26%);
  --color-palette-warning-60: hsl(24, 96%, 37%);
  --color-palette-warning-70: hsl(24, 93%, 50%);
  --color-palette-warning-80: hsl(24, 100%, 63%);
  --color-palette-warning-87: hsl(24, 100%, 71%);
  --color-palette-warning-90: hsl(24, 100%, 76%);
  --color-palette-warning-92: hsl(24, 100%, 79%);
  --color-palette-warning-94: hsl(24, 100%, 83%);
  --color-palette-warning-95: hsl(24, 100%, 87%);
  --color-palette-warning-96: hsl(24, 100%, 91%);
  --color-palette-warning-98: hsl(24, 100%, 96%);
  --color-palette-warning-99: hsl(24, 100%, 98%);
  --color-palette-warning-100: hsl(0, 0%, 100%);
  --color-role-light-primary: var(--color-key-primary);
  --color-role-light-onPrimary: var(--color-palette-primary-100);
  --color-role-light-primaryContainer: var(--color-palette-primary-80);
  --color-role-light-onPrimaryContainer: var(--color-palette-primary-30);
  --color-role-light-secondary: var(--color-palette-secondary-40);
  --color-role-light-onSecondary: var(--color-palette-secondary-100);
  --color-role-light-secondaryContainer: var(--color-palette-secondary-80);
  --color-role-light-onSecondaryContainer: var(--color-palette-secondary-30);
  --color-role-light-tertiary: var(--color-palette-tertiary-40);
  --color-role-light-onTertiary: var(--color-palette-tertiary-100);
  --color-role-light-tertiaryContainer: var(--color-palette-tertiary-80);
  --color-role-light-onTertiaryContainer: var(--color-palette-tertiary-30);
  --color-role-light-error: var(--color-palette-error-40);
  --color-role-light-onError: var(--color-palette-error-100);
  --color-role-light-errorContainer: var(--color-palette-error-80);
  --color-role-light-onErrorContainer: var(--color-palette-error-30);
  --color-role-light-success: var(--color-palette-success-40);
  --color-role-light-onSuccess: var(--color-palette-success-100);
  --color-role-light-successContainer: var(--color-palette-success-80);
  --color-role-light-onSuccessContainer: var(--color-palette-success-30);
  --color-role-light-warning: var(--color-palette-warning-40);
  --color-role-light-onWarning: var(--color-palette-warning-100);
  --color-role-light-warningContainer: var(--color-palette-warning-80);
  --color-role-light-onWarningContainer: var(--color-palette-warning-30);
  --color-role-light-background: var(--color-palette-neutral-98);
  --color-role-light-onBackground: var(--color-palette-neutral-10);
  --color-role-light-surface: var(--color-palette-neutral-98);
  --color-role-light-onSurface: var(--color-palette-neutral-10);
  --color-role-light-surfaceVariant: var(--color-palette-neutralVariant-90);
  --color-role-light-onSurfaceVariant: var(--color-palette-neutralVariant-30);
  --color-role-light-outline: var(--color-palette-neutralVariant-50);
  --color-role-light-outlineVariant: var(--color-palette-neutralVariant-80);
  --color-role-light-inverseSurface: var(--color-palette-neutral-20);
  --color-role-light-inverseOnSurface: var(--color-palette-neutral-95);
  --color-role-light-inversePrimary: var(--color-palette-primary-80);
  --color-role-light-surfaceDim: var(--color-palette-neutral-87);
  --color-role-light-surfaceBright: var(--color-palette-neutral-98);
  --color-role-light-surfaceContainerLowest: var(--color-palette-neutral-100);
  --color-role-light-surfaceContainerLow: var(--color-palette-neutral-96);
  --color-role-light-surfaceContainer: var(--color-palette-neutral-94);
  --color-role-light-surfaceContainerHigh: var(--color-palette-neutral-92);
  --color-role-light-surfaceContainerHighest: var(--color-palette-neutral-90);

  /* Typography */
  --font-display-display-large-fontSize: 64px;
  --font-display-display-large-textDecoration: none;
  --font-display-display-large-fontFamily: Plus Jakarta Sans;
  --font-display-display-large-fontWeight: 400;
  --font-display-display-large-fontStyle: normal;
  --font-display-display-large-fontStretch: normal;
  --font-display-display-large-letterSpacing: -3px;
  --font-display-display-large-lineHeight: 96px;
  --font-display-display-large-paragraphIndent: 0px;
  --font-display-display-large-paragraphSpacing: 0px;
  --font-display-display-large-textCase: none;
  --font-display-display-medium-fontSize: 48px;
  --font-display-display-medium-textDecoration: none;
  --font-display-display-medium-fontFamily: Plus Jakarta Sans;
  --font-display-display-medium-fontWeight: 400;
  --font-display-display-medium-fontStyle: normal;
  --font-display-display-medium-fontStretch: normal;
  --font-display-display-medium-letterSpacing: -2.5px;
  --font-display-display-medium-lineHeight: 72px;
  --font-display-display-medium-paragraphIndent: 0px;
  --font-display-display-medium-paragraphSpacing: 0px;
  --font-display-display-medium-textCase: none;
  --font-display-display-small-fontSize: 32px;
  --font-display-display-small-textDecoration: none;
  --font-display-display-small-fontFamily: Plus Jakarta Sans;
  --font-display-display-small-fontWeight: 400;
  --font-display-display-small-fontStyle: normal;
  --font-display-display-small-fontStretch: normal;
  --font-display-display-small-letterSpacing: -2px;
  --font-display-display-small-lineHeight: 48px;
  --font-display-display-small-paragraphIndent: 0px;
  --font-display-display-small-paragraphSpacing: 0px;
  --font-display-display-small-textCase: none;
  --font-headline-headline-large-fontSize: 40px;
  --font-headline-headline-large-textDecoration: none;
  --font-headline-headline-large-fontFamily: Plus Jakarta Sans;
  --font-headline-headline-large-fontWeight: 600;
  --font-headline-headline-large-fontStyle: normal;
  --font-headline-headline-large-fontStretch: normal;
  --font-headline-headline-large-letterSpacing: -3px;
  --font-headline-headline-large-lineHeight: 60px;
  --font-headline-headline-large-paragraphIndent: 0px;
  --font-headline-headline-large-paragraphSpacing: 0px;
  --font-headline-headline-large-textCase: none;
  --font-headline-headline-medium-fontSize: 32px;
  --font-headline-headline-medium-textDecoration: none;
  --font-headline-headline-medium-fontFamily: Plus Jakarta Sans;
  --font-headline-headline-medium-fontWeight: 600;
  --font-headline-headline-medium-fontStyle: normal;
  --font-headline-headline-medium-fontStretch: normal;
  --font-headline-headline-medium-letterSpacing: -2.5px;
  --font-headline-headline-medium-lineHeight: 48px;
  --font-headline-headline-medium-paragraphIndent: 0px;
  --font-headline-headline-medium-paragraphSpacing: 0px;
  --font-headline-headline-medium-textCase: none;
  --font-headline-headline-small-fontSize: 24px;
  --font-headline-headline-small-textDecoration: none;
  --font-headline-headline-small-fontFamily: Plus Jakarta Sans;
  --font-headline-headline-small-fontWeight: 400;
  --font-headline-headline-small-fontStyle: normal;
  --font-headline-headline-small-fontStretch: normal;
  --font-headline-headline-small-letterSpacing: -2px;
  --font-headline-headline-small-lineHeight: 36px;
  --font-headline-headline-small-paragraphIndent: 0px;
  --font-headline-headline-small-paragraphSpacing: 0px;
  --font-headline-headline-small-textCase: none;
  --font-title-title-large-fontSize: 24px;
  --font-title-title-large-textDecoration: none;
  --font-title-title-large-fontFamily: Plus Jakarta Sans;
  --font-title-title-large-fontWeight: 400;
  --font-title-title-large-fontStyle: normal;
  --font-title-title-large-fontStretch: normal;
  --font-title-title-large-letterSpacing: -1.5px;
  --font-title-title-large-lineHeight: 36px;
  --font-title-title-large-paragraphIndent: 0px;
  --font-title-title-large-paragraphSpacing: 0px;
  --font-title-title-large-textCase: none;
  --font-title-title-medium-fontSize: 16px;
  --font-title-title-medium-textDecoration: none;
  --font-title-title-medium-fontFamily: Plus Jakarta Sans;
  --font-title-title-medium-fontWeight: 400;
  --font-title-title-medium-fontStyle: normal;
  --font-title-title-medium-fontStretch: normal;
  --font-title-title-medium-letterSpacing: -1px;
  --font-title-title-medium-lineHeight: 24px;
  --font-title-title-medium-paragraphIndent: 0px;
  --font-title-title-medium-paragraphSpacing: 0px;
  --font-title-title-medium-textCase: none;
  --font-title-title-small-fontSize: 14px;
  --font-title-title-small-textDecoration: none;
  --font-title-title-small-fontFamily: Plus Jakarta Sans;
  --font-title-title-small-fontWeight: 400;
  --font-title-title-small-fontStyle: normal;
  --font-title-title-small-fontStretch: normal;
  --font-title-title-small-letterSpacing: -0.5px;
  --font-title-title-small-lineHeight: 21px;
  --font-title-title-small-paragraphIndent: 0px;
  --font-title-title-small-paragraphSpacing: 0px;
  --font-title-title-small-textCase: none;
  --font-body-body-large-fontSize: 16px;
  --font-body-body-large-textDecoration: none;
  --font-body-body-large-fontFamily: Instrument Sans;
  --font-body-body-large-fontWeight: 400;
  --font-body-body-large-fontStyle: normal;
  --font-body-body-large-fontStretch: normal;
  --font-body-body-large-letterSpacing: -0.5px;
  --font-body-body-large-lineHeight: 24px;
  --font-body-body-large-paragraphIndent: 0px;
  --font-body-body-large-paragraphSpacing: 0px;
  --font-body-body-large-textCase: none;
  --font-body-body-medium-fontSize: 14px;
  --font-body-body-medium-textDecoration: none;
  --font-body-body-medium-fontFamily: Instrument Sans;
  --font-body-body-medium-fontWeight: 400;
  --font-body-body-medium-fontStyle: normal;
  --font-body-body-medium-fontStretch: normal;
  --font-body-body-medium-letterSpacing: -0.5px;
  --font-body-body-medium-lineHeight: 21px;
  --font-body-body-medium-paragraphIndent: 0px;
  --font-body-body-medium-paragraphSpacing: 0px;
  --font-body-body-medium-textCase: none;
  --font-body-body-small-fontSize: 12px;
  --font-body-body-small-textDecoration: none;
  --font-body-body-small-fontFamily: Instrument Sans;
  --font-body-body-small-fontWeight: 400;
  --font-body-body-small-fontStyle: normal;
  --font-body-body-small-fontStretch: normal;
  --font-body-body-small-letterSpacing: -0.5px;
  --font-body-body-small-lineHeight: 18px;
  --font-body-body-small-paragraphIndent: 0px;
  --font-body-body-small-paragraphSpacing: 0px;
  --font-body-body-small-textCase: none;
  --font-label-label-large-fontSize: 16px;
  --font-label-label-large-textDecoration: none;
  --font-label-label-large-fontFamily: Plus Jakarta Sans;
  --font-label-label-large-fontWeight: 400;
  --font-label-label-large-fontStyle: normal;
  --font-label-label-large-fontStretch: normal;
  --font-label-label-large-letterSpacing: -0.5px;
  --font-label-label-large-lineHeight: 24px;
  --font-label-label-large-paragraphIndent: 0px;
  --font-label-label-large-paragraphSpacing: 0px;
  --font-label-label-large-textCase: none;
  --font-label-label-medium-fontSize: 14px;
  --font-label-label-medium-textDecoration: none;
  --font-label-label-medium-fontFamily: Plus Jakarta Sans;
  --font-label-label-medium-fontWeight: 400;
  --font-label-label-medium-fontStyle: normal;
  --font-label-label-medium-fontStretch: normal;
  --font-label-label-medium-letterSpacing: -0.5px;
  --font-label-label-medium-lineHeight: 21px;
  --font-label-label-medium-paragraphIndent: 0px;
  --font-label-label-medium-paragraphSpacing: 0px;
  --font-label-label-medium-textCase: none;
  --font-label-label-small-fontSize: 12px;
  --font-label-label-small-textDecoration: none;
  --font-label-label-small-fontFamily: Plus Jakarta Sans;
  --font-label-label-small-fontWeight: 600;
  --font-label-label-small-fontStyle: normal;
  --font-label-label-small-fontStretch: normal;
  --font-label-label-small-letterSpacing: -0.5px;
  --font-label-label-small-lineHeight: 18px;
  --font-label-label-small-paragraphIndent: 0px;
  --font-label-label-small-paragraphSpacing: 0px;
  --font-label-label-small-textCase: none;
  --typography-display-display-large-fontSize: 64px;
  --typography-display-display-large-textDecoration: none;
  --typography-display-display-large-fontFamily: Plus Jakarta Sans;
  --typography-display-display-large-fontWeight: 400;
  --typography-display-display-large-fontStyle: normal;
  --typography-display-display-large-fontStretch: normal;
  --typography-display-display-large-letterSpacing: -3px;
  --typography-display-display-large-lineHeight: 96px;
  --typography-display-display-large-paragraphIndent: 0px;
  --typography-display-display-large-paragraphSpacing: 0px;
  --typography-display-display-large-textCase: none;
  --typography-display-display-medium-fontSize: 48px;
  --typography-display-display-medium-textDecoration: none;
  --typography-display-display-medium-fontFamily: Plus Jakarta Sans;
  --typography-display-display-medium-fontWeight: 400;
  --typography-display-display-medium-fontStyle: normal;
  --typography-display-display-medium-fontStretch: normal;
  --typography-display-display-medium-letterSpacing: -2.5px;
  --typography-display-display-medium-lineHeight: 72px;
  --typography-display-display-medium-paragraphIndent: 0px;
  --typography-display-display-medium-paragraphSpacing: 0px;
  --typography-display-display-medium-textCase: none;
  --typography-display-display-small-fontSize: 32px;
  --typography-display-display-small-textDecoration: none;
  --typography-display-display-small-fontFamily: Plus Jakarta Sans;
  --typography-display-display-small-fontWeight: 400;
  --typography-display-display-small-fontStyle: normal;
  --typography-display-display-small-fontStretch: normal;
  --typography-display-display-small-letterSpacing: -2px;
  --typography-display-display-small-lineHeight: 48px;
  --typography-display-display-small-paragraphIndent: 0px;
  --typography-display-display-small-paragraphSpacing: 0px;
  --typography-display-display-small-textCase: none;
  --typography-headline-headline-large-fontSize: 40px;
  --typography-headline-headline-large-textDecoration: none;
  --typography-headline-headline-large-fontFamily: Plus Jakarta Sans;
  --typography-headline-headline-large-fontWeight: 600;
  --typography-headline-headline-large-fontStyle: normal;
  --typography-headline-headline-large-fontStretch: normal;
  --typography-headline-headline-large-letterSpacing: -3px;
  --typography-headline-headline-large-lineHeight: 60px;
  --typography-headline-headline-large-paragraphIndent: 0px;
  --typography-headline-headline-large-paragraphSpacing: 0px;
  --typography-headline-headline-large-textCase: none;
  --typography-headline-headline-medium-fontSize: 32px;
  --typography-headline-headline-medium-textDecoration: none;
  --typography-headline-headline-medium-fontFamily: Plus Jakarta Sans;
  --typography-headline-headline-medium-fontWeight: 600;
  --typography-headline-headline-medium-fontStyle: normal;
  --typography-headline-headline-medium-fontStretch: normal;
  --typography-headline-headline-medium-letterSpacing: -2.5px;
  --typography-headline-headline-medium-lineHeight: 48px;
  --typography-headline-headline-medium-paragraphIndent: 0px;
  --typography-headline-headline-medium-paragraphSpacing: 0px;
  --typography-headline-headline-medium-textCase: none;
  --typography-headline-headline-small-fontSize: 24px;
  --typography-headline-headline-small-textDecoration: none;
  --typography-headline-headline-small-fontFamily: Plus Jakarta Sans;
  --typography-headline-headline-small-fontWeight: 400;
  --typography-headline-headline-small-fontStyle: normal;
  --typography-headline-headline-small-fontStretch: normal;
  --typography-headline-headline-small-letterSpacing: -2px;
  --typography-headline-headline-small-lineHeight: 36px;
  --typography-headline-headline-small-paragraphIndent: 0px;
  --typography-headline-headline-small-paragraphSpacing: 0px;
  --typography-headline-headline-small-textCase: none;
  --typography-title-title-large-fontSize: 24px;
  --typography-title-title-large-textDecoration: none;
  --typography-title-title-large-fontFamily: Plus Jakarta Sans;
  --typography-title-title-large-fontWeight: 400;
  --typography-title-title-large-fontStyle: normal;
  --typography-title-title-large-fontStretch: normal;
  --typography-title-title-large-letterSpacing: -1.5px;
  --typography-title-title-large-lineHeight: 36px;
  --typography-title-title-large-paragraphIndent: 0px;
  --typography-title-title-large-paragraphSpacing: 0px;
  --typography-title-title-large-textCase: none;
  --typography-title-title-medium-fontSize: 16px;
  --typography-title-title-medium-textDecoration: none;
  --typography-title-title-medium-fontFamily: Plus Jakarta Sans;
  --typography-title-title-medium-fontWeight: 400;
  --typography-title-title-medium-fontStyle: normal;
  --typography-title-title-medium-fontStretch: normal;
  --typography-title-title-medium-letterSpacing: -1px;
  --typography-title-title-medium-lineHeight: 24px;
  --typography-title-title-medium-paragraphIndent: 0px;
  --typography-title-title-medium-paragraphSpacing: 0px;
  --typography-title-title-medium-textCase: none;
  --typography-title-title-small-fontSize: 14px;
  --typography-title-title-small-textDecoration: none;
  --typography-title-title-small-fontFamily: Plus Jakarta Sans;
  --typography-title-title-small-fontWeight: 400;
  --typography-title-title-small-fontStyle: normal;
  --typography-title-title-small-fontStretch: normal;
  --typography-title-title-small-letterSpacing: -0.5px;
  --typography-title-title-small-lineHeight: 21px;
  --typography-title-title-small-paragraphIndent: 0px;
  --typography-title-title-small-paragraphSpacing: 0px;
  --typography-title-title-small-textCase: none;
  --typography-body-body-large-fontSize: 16px;
  --typography-body-body-large-textDecoration: none;
  --typography-body-body-large-fontFamily: Instrument Sans;
  --typography-body-body-large-fontWeight: 400;
  --typography-body-body-large-fontStyle: normal;
  --typography-body-body-large-fontStretch: normal;
  --typography-body-body-large-letterSpacing: -0.5px;
  --typography-body-body-large-lineHeight: 24px;
  --typography-body-body-large-paragraphIndent: 0px;
  --typography-body-body-large-paragraphSpacing: 0px;
  --typography-body-body-large-textCase: none;
  --typography-body-body-medium-fontSize: 14px;
  --typography-body-body-medium-textDecoration: none;
  --typography-body-body-medium-fontFamily: Instrument Sans;
  --typography-body-body-medium-fontWeight: 400;
  --typography-body-body-medium-fontStyle: normal;
  --typography-body-body-medium-fontStretch: normal;
  --typography-body-body-medium-letterSpacing: -0.5px;
  --typography-body-body-medium-lineHeight: 21px;
  --typography-body-body-medium-paragraphIndent: 0px;
  --typography-body-body-medium-paragraphSpacing: 0px;
  --typography-body-body-medium-textCase: none;
  --typography-body-body-small-fontSize: 12px;
  --typography-body-body-small-textDecoration: none;
  --typography-body-body-small-fontFamily: Instrument Sans;
  --typography-body-body-small-fontWeight: 400;
  --typography-body-body-small-fontStyle: normal;
  --typography-body-body-small-fontStretch: normal;
  --typography-body-body-small-letterSpacing: -0.5px;
  --typography-body-body-small-lineHeight: 18px;
  --typography-body-body-small-paragraphIndent: 0px;
  --typography-body-body-small-paragraphSpacing: 0px;
  --typography-body-body-small-textCase: none;
  --typography-label-label-large-fontSize: 16px;
  --typography-label-label-large-textDecoration: none;
  --typography-label-label-large-fontFamily: Plus Jakarta Sans;
  --typography-label-label-large-fontWeight: 400;
  --typography-label-label-large-fontStyle: normal;
  --typography-label-label-large-fontStretch: normal;
  --typography-label-label-large-letterSpacing: -0.5px;
  --typography-label-label-large-lineHeight: 24px;
  --typography-label-label-large-paragraphIndent: 0px;
  --typography-label-label-large-paragraphSpacing: 0px;
  --typography-label-label-large-textCase: none;
  --typography-label-label-medium-fontSize: 14px;
  --typography-label-label-medium-textDecoration: none;
  --typography-label-label-medium-fontFamily: Plus Jakarta Sans;
  --typography-label-label-medium-fontWeight: 400;
  --typography-label-label-medium-fontStyle: normal;
  --typography-label-label-medium-fontStretch: normal;
  --typography-label-label-medium-letterSpacing: -0.5px;
  --typography-label-label-medium-lineHeight: 21px;
  --typography-label-label-medium-paragraphIndent: 0px;
  --typography-label-label-medium-paragraphSpacing: 0px;
  --typography-label-label-medium-textCase: none;
  --typography-label-label-small-fontSize: 12px;
  --typography-label-label-small-textDecoration: none;
  --typography-label-label-small-fontFamily: Plus Jakarta Sans;
  --typography-label-label-small-fontWeight: 600;
  --typography-label-label-small-fontStyle: normal;
  --typography-label-label-small-fontStretch: normal;
  --typography-label-label-small-letterSpacing: -0.5px;
  --typography-label-label-small-lineHeight: 18px;
  --typography-label-label-small-paragraphIndent: 0px;
  --typography-label-label-small-paragraphSpacing: 0px;
  --typography-label-label-small-textCase: none;
}
